.app {
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 2rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    z-index: 1;
}
